

<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 div-main">

      <h3>Feedback Manager</h3>

      <div *ngFor="let i of surveylist" class="div-placement row">
        <div>
        <h3>{{ i.surveyName }}</h3>
        <p>Created by: {{ i.creatorName }}</p>
      </div>
      </div>

    </div>
    <div class="col-md-2">

      <div class="div-placement" style="text-align: center">
        <h3>Menu</h3>
        <a routerLink="/newsurvey">
        <button type="button" class="btn btn-secondary btn-block">create survey</button>
      </a>
      </div>

    </div>
  </div>
</div>